soap/items-service.wsdl

<definitions name="ItemsService"
             targetNamespace="http://example.com/itemsservice"
             xmlns:tns="http://example.com/itemsservice"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xs:schema targetNamespace="http://example.com/itemsservice"
                   elementFormDefault="qualified">
            
            <xs:element name="Item">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getItemsRequest" type="xs:anyType"/>
            <xs:element name="getItemsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="items" type="tns:Item" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getItemRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="item" type="tns:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="createItemRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="item" type="tns:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="updateItemRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateItemResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="item" type="tns:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="deleteItemRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteItemResponse" type="xs:anyType"/>

        </xs:schema>
    </types>

    <message name="getItemsRequest"/>
    <message name="getItemsResponse">
        <part name="getItemsResponse" element="tns:getItemsResponse"/>
    </message>

    <message name="getItemRequest">
        <part name="getItemRequest" element="tns:getItemRequest"/>
    </message>
    <message name="getItemResponse">
        <part name="getItemResponse" element="tns:getItemResponse"/>
    </message>

    <message name="createItemRequest">
        <part name="createItemRequest" element="tns:createItemRequest"/>
    </message>
    <message name="createItemResponse">
        <part name="createItemResponse" element="tns:createItemResponse"/>
    </message>

    <message name="updateItemRequest">
        <part name="updateItemRequest" element="tns:updateItemRequest"/>
    </message>
    <message name="updateItemResponse">
        <part name="updateItemResponse" element="tns:updateItemResponse"/>
    </message>

    <message name="deleteItemRequest">
        <part name="deleteItemRequest" element="tns:deleteItemRequest"/>
    </message>
    <message name="deleteItemResponse">
        <part name="deleteItemResponse" element="tns:deleteItemResponse"/>
    </message>

    <portType name="ItemsServicePortType">
        <operation name="getItems">
            <input message="tns:getItemsRequest"/>
            <output message="tns:getItemsResponse"/>
        </operation>
        <operation name="getItem">
            <input message="tns:getItemRequest"/>
            <output message="tns:getItemResponse"/>
        </operation>
        <operation name="createItem">
            <input message="tns:createItemRequest"/>
            <output message="tns:createItemResponse"/>
        </operation>
        <operation name="updateItem">
            <input message="tns:updateItemRequest"/>
            <output message="tns:updateItemResponse"/>
        </operation>
        <operation name="deleteItem">
            <input message="tns:deleteItemRequest"/>
            <output message="tns:deleteItemResponse"/>
        </operation>
    </portType>

    <binding name="ItemsServiceBinding" type="tns:ItemsServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getItems">
            <soap:operation soapAction="http://example.com/itemsservice/getItems"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="getItem">
            <soap:operation soapAction="http://example.com/itemsservice/getItem"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="createItem">
            <soap:operation soapAction="http://example.com/itemsservice/createItem"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="updateItem">
            <soap:operation soapAction="http://example.com/itemsservice/updateItem"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
        <operation name="deleteItem">
            <soap:operation soapAction="http://example.com/itemsservice/deleteItem"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <service name="ItemsService">
        <documentation>SOAP Service for Items CRUD</documentation>
        <port name="ItemsServicePort" binding="tns:ItemsServiceBinding">
            <soap:address location="http://localhost:4000/soap"/>
        </port>
    </service>

</definitions>
